body {
	padding-top: 5rem;
}
.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}

#infos_profil span {
	display: inline-block;
	width: 70px;
	font-weight: bold;
}
table th {
	cursor: pointer;
}